/* App.css */
.App {
  text-align: center;
  opacity: 5; 
  background-color: bisque;
}

nav {
  
  background-color: white; 
  border: 1px solid black;
  padding-left: 10%;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8vh;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 8%;
}

.Hero{
  width: 100%;
}
.Hero img{
  padding-left: 50%;
  padding-top: 10%;
  border: 2px solid black;
  
}


.Hero h1{
  padding-right: 50%;
  padding-bottom: 50%;
}