/* App.css */
.App {
  text-align: center;
}

nav {
  background-color: white;
  border: 1px solid black;
  padding-left: 10%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start; /* Align items to the top */
  
  align-items: center;
  height: 8vh;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 8%;
  
}

/* Add more styling as needed */
