/* App.css */
.App {
  text-align: center;
  opacity: 5; 
  background-color: white;
  width: 100%;
}

nav {
  background-color: slategrey; 
  opacity: 100%;
  border: 1px solid black;
  padding-left: 0%;
  position: fixed;
  width: 100%;
  z-index: 2;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 8vh;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

nav ul li {
  padding: 7%;
}

.Hero{
  padding-left: 50%;
  padding-right: 30%;
  width: 10%;
  border: 1px solid black;
  border-width: 0cap;
  height: fit-content;
  width: 100%;
  
}
.Hero img{

  left: 0px; 
  width: fit-content;
  position: fixed;
 
  height: 50%;
  z-index: 1; 
}




.Hero-down{
  padding-top: 20%;
  padding-left: 50%;
  position: fixed;
  
}